#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  font-family: sans-serif;
}

.box {
  /* padding: 10px; */
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
