/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #ebe9e9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card {
  border: 5px solid black;
  max-width: 450px;
  padding: 0px !important;
}
.avatar {
  width: 100%;
  height: 250px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.data {
  padding: 20px;
}
.intro {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  max-width: 400px;
  h2 {
    margin-bottom: 10px;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
  .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    gap: 6px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    font: 22px;
    line-height: 25px;

    .emoji {
      color: orange;
    }
  }
}
